*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:Helvetica, sans-serif;
    background-color: rgb(253, 238, 223);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weatherForm{
    margin: 20px;

}

.cityInput{
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid hsla(0, 0%, 0%, 0.037);
    border-radius: 10px;
    margin: 10px;
    width: 300px;
}

button{
    padding: 10px 20px;
    font-weight: bold;
    font-size: 2rem;
    background-color: rgb(45, 170, 29);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(43, 107, 34);

}

.card{
    background: linear-gradient(180deg,hsl(210, 100%, 50%),hsl(40, 100%, 50%));
    padding: 50px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.187);
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

h1{
    margin-top: 0;
    margin-bottom: 25px;
}

p{
    font-size: 1.5rem;
    margin: 5px 0;

}

.cityDisplay , .tempDisplay{
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 25px;
}

.humidityDisplay{
    font-weight: bold;
    margin-bottom: 25px;
}

.descDisplay{
    font-style: italic;
    font-weight: bold;
    font-size: 2rem;
}

.weatherEmoji{
    margin: 0;
    font-size: 7.5rem;
}
.errorDisplay{
    font-size: 2.5rem;
    font-weight: bold;
}

/* Smartphone */
@media (min-width: 320px) and (max-width: 480px) {
 
  .card, .cityInput, button{
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  
  button{
    font-size: 1.5rem;
  }

  .card {
    padding: 20px;
  }

  .cityDisplay, .tempDisplay {
    font-size: 2.5rem;
  }

  .weatherEmoji {
    font-size: 5rem;
  }
}

/* Tablet */
@media (min-width: 481px) and (max-width: 1024px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
  }

  .weatherForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  .cityInput {
    width: 80%;
    text-align: center;
  }

  .card {
    margin: 30px auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;  
  }
}